
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Roboto, sans-serif;
  color: #1e293b;
  background: #f9fafb;
  line-height: 1.7;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
}

/* NAGŁÓWEK */
h1 {
  background-color: #0f172a;
  color: #ffffff;
  padding: 2rem 1rem;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

/* Podtytuły i sekcje */
h2 {
  margin-top: 2rem;
  font-size: 1.5rem;
  color: #1e293b;
  font-weight: 600;
}

/* Akapity */
p {
  max-width: 700px;
  margin: 1rem auto;
  color: #475569;
  font-size: 1rem;
}

/* Listy */
ul {
  list-style: none;
  padding: 0;
  margin: 1.5rem auto;
  max-width: 600px;
}

li {
  background: #ffffff;
  margin: 0.5rem 0;
  padding: 0.8rem 1rem;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  font-weight: 600;
}

/* Obrazy */
img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin: 2rem auto;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

/* Linki */
a {
  display: inline-block;
  margin: 1rem auto;
  padding: 0.8rem 1.2rem;
  text-decoration: none;
  color: #ffffff;
  background-color: #3b82f6;
  border-radius: 6px;
  transition: 0.2s ease;
  font-weight: 600;
}

/* STOPKA */
footer {
  margin-top: auto;
  background-color: #1e293b;;
  color: #ffffff;
  padding: 1rem;
  font-size: 0.9rem;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}
